body {
    margin: 0px 0px 0px 0px;
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 900px;
    margin: 0px 0px 0px 0px;
    text-align: center;
}

.main-title img {
    width:100%;
    height: 900px;
}

.main-title h1 {
    position: absolute;
    width:100%;
    color:white;
    line-height: 600px;
    font-size:120px;
    font-weight: 200px;
}

.body-message {
    margin: 50px 10%;
    font-size: 37px;
}

.footer-image img{
    display: block;
    margin: 20px auto;
    width: 425px
}

.separator{
    background-color: grey;
    height: 3px;
    margin: 0px 10%;
}

#section-title {
    font-weight: bolder;
}

.list {
    list-style-type: none;
    font-size: 30px;
}